html {
	height: 100%;
	min-width: 900px;
	min-height: 520px;
}	

body {
	height: calc(100% - 1.5em);
	background-color: #212121;
	margin: 0;
	
}

.content {
	width: 95%;
	padding: 0;
	margin:0;
	margin-left: 2.5%;
	height: calc(100% - 1em);
	background-color: #3a4042;
	font-family: helvetica;
	color: #8ecccc;
}

.child {
	font-family: "Lucida Console", "Courier New", monospace;
	float: left;
}

.inline_mono {
	font-family: "Lucida Console", "Courier New", monospace;
	display: inline;
}

#left {
	width: 30%;
	min-width: 100px;
}
#right {
	width: 70%;
}

h1 {
	color: #50717b;
}

a.none {
	color: inherit;
	text-decoration: inherit;
}

img {
	min-width: 47.5%;
	max-width: 32vw;
	max-height: 57vh;
}