<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

	<title>Problem Difficulty</title>
</head>
<body>
	<div class="content">
		<h1><a href="/" class="none">Difficulty</a></h1>
		<h2>Frequency analysis of LeetCode problems</h2>
		<div class="child" id="left">
			<h1>Select date</h1>
				<form action="/query/" method="POST">
					<pre class="inline_mono">From </pre>
					<input type="date" id="start_date" name="start" min="2020-04-01" /></br>
					<pre class="inline_mono">to   </pre>
					<input type="date" id="end_date" name="end" min="2020-04-01" /></br>
					
					</br>
					Data options</br>
					<input type="checkbox" id="plot_easy" name="plot_easy">
					<label for="plot_easy">Easy</label></br>
					<input type="checkbox" id="plot_medium" name="plot_medium">
					<label for="plot_easy">Medium</label></br>
					<input type="checkbox" id="plot_hard" name="plot_hard">
					<label for="plot_easy">Hard</label></br>
					
					</br>
					Graph options</br>
					<input type="checkbox" id="ac_running_average" name="ac_running_average">
					<label for="plot_easy">Show Running Average</label></br>
					
					</br>
					<button name="query_button" type="submit">Go</button>
				</form>
		</div>
		
		<div class="child" id="right">
			<h1>Problems</h1>
			{% if daily_difficulty %}
				<img src={{ daily_difficulty }}>
			{% endif %}
			{% if ac_rate %}
				<img src={{ ac_rate }}>
			{% endif %}
			
		</div>
	</div>
	
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>